body {
  background-color: #268135;
  width: 80%;
  margin: auto;
}
.container{
  width: 80%;
}
.page-header{
  color: #caecd0;
  padding: 5px;
  margin: 10%;
  position: relative;
}
.instructions{
  float: left;
  width: 40%;
  padding: 2%;
  color: #caecd0;
  font-weight: lighter;
  font-size: 30px;
}
#ppForm, #result{
  width:60%;
  float: left;
}
#result{
  margin: auto;
  border: 2px solid black;
}
.userForm {
  color: 	#f8f8ff;
  font-size: 20px;
}
#userInput {
  color:black;
}
.btn {
  margin-top: 10px;
}
