body {
  background-color: #268135;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 2%;
  border: 15px solid white;
}
.container{
  width: 80%;
}
.page-header{
  color: #caecd0;
  padding: 5px;
  margin: 3%;

}
.instructions{
  float: left;
  padding: 2%;
  color: #caecd0;
  font-weight: lighter;
  font-size: 30px;
}
#ppForm, #result{
  width:80%;
  float: left;
}
.userForm {
  color: 	#f8f8ff;
  font-size: 20px;
}
#userInput {
  color:black;
}
.output {
  word-wrap: break-word;
}
img {
  width: 80%;
}
