body {
  background-color: #268135;
  width: 80%;
}
.container{
  width: 100%;
}
.page-header{
  color: #caecd0;
  padding: 5px;
  margin: 10%;
  position: relative;
}
.instructions{
  float: left;
  width: 50%;
  padding: 2%;
  color: #caecd0;
  font-weight: lighter;
  font-size: 30px;
}
#ppForm, #result{
  width: 50%;
  float: left;
}
.output{
  float: left;
  margin:10%;
}
